{% extends "layout.html" %}
{% block content %}
    <h2>Projekt - Ochrona Danych w Systemach Informatycznych</h2>
    <h4>Celem projektu bylo napisanie bezpiecznej aplikacji internetowej spelniajacej wysokie standardy bezpieczenstwa</h4>
    <p>Niniejsza aplikacja zaklada posiada nastepujace standardy:</p>
    <ul>
        <li>restrykcyjna walidacja danych przychodzacych z formularzy login-haslo</li>
        <li>przechowywane hasla chronione funkcja hash z sola</li>
        <li>mozliwosc umieszczenia na serwerze obrazkow dostepnych prywatnie lub dla wybranych uzytkownikow</li>
        <li>weryfikacja bezpieczenstwa przechowywanych plikow graficznych</li>
        <li>zabezpieczenie transmisji przez wykorzystanie protokolu https</li>
        <li>mozliwosc zmiany hasla</li>
        <li>mozliwosc odzyskania dostepu w przypadku utraty hasla</li>
        <li>monitorowanie liczby prob logowania</li>
        <li>informowanie uzytkownika o jakosci jego hasla(jego entropii)</li>
        <li>kontrola odpornosci nowego hasla na ataki slownikowe</li>
    </ul>

{% endblock content %}
